* { margin: 0; padding: 0; }
header { padding: 20px 20px 0;}
nav { width: 800px; margin: 0 auto; }
.container-fluid .navbar-nav { float: none; text-align: center;}
.navbar-nav > li { float: none; display: inline-block; }
#myCarousel img { width: 100%; height: 100%; }

.main { width: 980px; margin: 0 auto; padding: 0; }
.images, .videos { border: 1px solid black; border-radius: 5px; margin: 10px; padding: 5px; }
.banner { margin:0 ; padding: 0; }
.noticias { clear: both; }
footer { text-align: right;}
.intro { margin: 0 auto; }
.info, .term { display: block; margin-top: 10px; }
.clear { clear: both; }